<div id="div1" class="jumbotron jumbotron-fluid ml-0 my-1">
    <div class="container"></div>
      <h1 id="line1" class="display-4">{{course}}</h1>
      <br>
      <p id="line2" class="lead">Padawan Training. From June 15th to July 17th.</p>
      <br>
      <p id="line3"><strong>Today is {{date | date: 'd/MM/yyyy' }}</strong></p>

      <a href="https://www.linkedin.com/in/caiqueccamargo/"><img id="img4"class="rounded" src="assets/img/img4.png" alt="Linkedin"></a>
      <a href="https://www.facebook.com/caiqueccamargo"><img id="img5"class="rounded" src="assets/img/face.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/caiqueccamargo/"><img id="img6"class="rounded" src="assets/img/img6.png" alt="Facebook"></a>   
</div>
