<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1 class="display-3">Caíque César Camargo</h1>
            <p>Graduated in Analysis and Systems Development at Fatec Sorocaba</p>
        </div>
        
        <div class="col-3">  
        <nav id="navbar-exemplo3" class="navbar navbar-light bg-light">
            <nav class="nav nav-pills flex-column">
              <nav>
                <a *ngFor="let course of courses" class="nav-link">{{course}}</a>
              </nav>
            </nav>
          </nav>
        </div>


        <div class="col-9">
          <div data-spy="scroll" data-target="#navbar-exemplo3" data-offset="0" class="scrollspySite">
            <h4 >{{courses[0]}}</h4>
            <p>Nunc et velit id leo vestibulum ullamcorper. Aliquam felis dolor, consectetur dignissim nisi faucibus, bibendum tincidunt lacus. Nulla sed sem convallis, fermentum velit vitae, lacinia risus. Ut eu felis est. Ut pulvinar elementum quam. Integer egestas fermentum elit, id tempor sem tempor eget. </p>
            <h4 >{{courses[1]}}</h4>
            <p>Phasellus eu odio porta nisi eleifend volutpat. Nunc nibh est, euismod quis sapien sed, sagittis elementum mi. Ut vel nunc sit amet libero scelerisque facilisis. Sed scelerisque gravida augue ut convallis.</p>
            <h4 >{{courses[2]}}</h4>
            <p>Ut fringilla libero orci, nec maximus urna luctus ac. Donec aliquet feugiat auctor. Aenean vel vestibulum elit. Fusce libero tortor, sagittis vitae massa eu, imperdiet egestas dui.</p>
            <h4 >{{courses[3]}}</h4>
            <p>Etiam convallis elementum magna, et aliquet metus dictum sed. Praesent turpis quam, varius non nibh sit amet, condimentum bibendum quam.</p>
            <h4 >{{courses[4]}}</h4>
            <p>Suspendisse condimentum fermentum mauris, nec feugiat turpis aliquam eget. Vestibulum tristique sapien vitae nulla aliquet feugiat. Integer egestas egestas mi, sed pretium libero vehicula quis.</p>
            <h4 >{{courses[5]}}</h4>
            <p>Sed efficitur metus ut ante tempor, vel commodo dui elementum. Etiam sodales magna nec ante venenatis, blandit aliquet magna sagittis. Morbi eget augue quis urna tincidunt euismod sed eu dui.</p>
            <h4 >{{courses[6]}}</h4>
            <p>Maecenas leo dui, hendrerit ac mi nec, sollicitudin pulvinar quam. Donec aliquam ex lorem, a hendrerit velit interdum id.</p>
            <h4 >{{courses[7]}}</h4>
            <p>Quisque et velit porta, malesuada libero at, tincidunt ligula. Mauris aliquam felis vel ligula facilisis, ac egestas purus malesuada. Etiam vulputate nibh velit, id imperdiet ex tincidunt quis. Vivamus eu tellus vel purus fringilla lobortis.</p>
          </div> 
        </div> 
      <div class="col-3"> 
        <br><br>
        <h4>Suggest Courses</h4>
        <p>{{  }}</p>

      </div>
    </div>
</div>

       

